
  #logo_bg ,img{
    
    height: 250px;
    width: 250px;
    margin-top: -25px;
    /* position: absolute;*/
  
  }
  body{
    background-color: paleturquoise;
  
  }
  li{
    display: inline-block;
    padding-left: 20px;
    text-align: center;
    margin-top: auto;
    
  }
  .nav{
  position: absolute;
  top: 50px;
  left: 40%;
  height: fit-content;
  width: 400px;
  list-style-type: none;
  
  text-align: center;
  display: inline;
  margin: 10px;
  color: solid white; 
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  

}

  .nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    color: palevioletred;
    font-size: 30px;
  }
  #mindfullness_img{
    height: 500px;
    width: 800px;
    z-index: 0;
    position : relative;
    left: 500px;
    top: 15px;
  
  }
  #info_box{
    height: fit-content;
    text-overflow: clip;
    width: 500px;
    margin-left: 50px;
    position: relative;
    bottom: 200px;
    border-radius: 100px;
    background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: relative;
  left: 270px;
  bottom: 400px;
  }
  .info_box ,h2 {
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }
  .info_box ,p{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 10px;
  }
  #info_section{
    position: relative;
    bottom: 90px;
  }
  .button{
    margin-bottom: -37px;
    cursor: pointer;
    background: transparent;
  }
  button:hover {
    background-color: antiquewhite;
  }
  button:active {
    background-color: antiquewhite;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(83, 83, 83);
    color: #fff;
    padding: 10px;
    text-align: center;
    animation: fadeInOut 5s linear infinite;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #info_section_hr{
  position: relative;
  bottom: 100px;
  left: 50%;
  border-top: 5px dotted black;
  width: 100px;
  
  }
  